/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    /* height: 100px; */
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

main{
    background-color: #7fffd4;
    padding: 1.5rem;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 550px;
    height: 550px;
    
}

article.quadrato{
    border: 1px solid black;
    width: calc(100% / 10);
    height: calc(100% / 10);
   
}